/* ===== Variables editables ===== */

:root{

--color-principal:#2563eb;

--color-texto:#333;

--color-fondo:#ffffff;

--color-borde:#d1d5db;

}



/* Reinicio */

*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:Arial,sans-serif;

line-height:1.6;

background:#f4f4f4;

padding:30px;

color:var(--color-texto);

}



/* Contenedor principal */

.container{

max-width:900px;

margin:auto;

background:var(--color-fondo);

padding:40px;

border-radius:10px;

box-shadow:0 0 15px rgba(0,0,0,.1);

}



/* Cabecera */

header{

text-align:center;

margin-bottom:30px;

}



header h1{

color:var(--color-principal);

}



/* Secciones */

section{

margin-bottom:30px;

}



h2{

margin-bottom:10px;

padding-bottom:5px;

color:var(--color-principal);

border-bottom:2px solid var(--color-borde);

}



/* Trabajos */

.trabajo{

margin-bottom:25px;

}



ul{

margin-left:20px;

}



/* Celulares */

@media(max-width:768px){

body{

padding:10px;

}

.container{

padding:20px;

}

}
